{%extends 'base.html'%}

{%block body%}

<h2>Auto</h2>

<form method="post">
  {{ form.csrf_token() }}
  <div class="mb-3">
    <label for="JaehrlicherUmsatz" class="form-label">Jährlicher Umsatz</label>
    {{form.JaehrlicherUmsatz(class_="form-control")}}
  </div>

  <div class="mb-3">
    <label for="MarkenName" class="form-label">Marken Name</label>
    {{form.MarkenName(class_="form-control")}}
  </div>

  <div class="mb-3">
    <label for="VerkaufszahlenProJahr" class="form-label">Verkaufszahlen pro Jahr</label>
    {{form.VerkaufszahlenProJahr(class_="form-control")}}
  </div>

  <div class="mb-3">
    <label for="Herststellland" class="form-label">Herststellland</label>
    {{form.Herststellland(class_="form-control")}}
  </div>

  <button type="submit" class="btn btn-primary">Save</button>

  </body>
</form>

<table class="table">
  <thead class="table-dark">
    <tr>
      <td scope="col">#</td>
      <td scope="col">Jährlicher Umsatz</td>
      <td scope="col">Marken Name</td>
      <td scope="col">Verkaufszahlen pro Jahr</td>
      <td scope="col">Herststellland</td>
    </tr>
  </thead>
  <tbody>
    {%for autos in auto:%}
      <tr>
        <td scope="row">{{autos.MarkenID}}</td>
        <td>{{autos.JaehrlicherUmsatz}}</td>
        <td>{{autos.Gruendungsdatum}}</td>
        <td>{{autos.MarkenName}}</td>
        <td>{{autos.VerkaufszahlenProJahr}}</td>
        <td>{{autos.Herststellland}}</td>
      </tr>
    {%endfor%}

  </tbody>
</table>

</html>
{%endblock%}