{%extends 'base.html'%}

{%block body%}

<h2>Mietwagen</h2>

<form method="post" class="row g-2">
  {{ form.csrf_token() }}
  {{ form.AutoID() }}

  <div class="mb-3">
    <label for="Farbe" class="form-label">Farbe</label>
    {{form.Farbe(class_="form-control")}}
  </div>

  <div class="col-md-6">
    <label for="kmStand" class="form-label">km Stand</label>
    {{form.kmStand(class_="form-control")}}
  </div>

  <div class="col-md-6">
    <label for="Leistung" class="form-label">Leistung</label>
    {{form.Leistung(class_="form-control")}}
  </div>

  <div class="mb-3">
    <label for="Erstzulasung" class="form-label">Erstzulasung</label>
    {{form.Erstzulasung(class_="form-control")}}
  </div>

  <div class="col-md-6">
    <label for="Kennzeichen" class="form-label">Kennzeichen</label>
    {{form.Kennzeichen(class_="form-control")}}
  </div>

  <div class="col-md-6">
    <label for="Baujahr" class="form-label">Baujahr</label>
    {{form.Baujahr(class_="form-control")}}
  </div>

  <div class="d-grid gap-2 col-6 mx-auto">
    <br>
    <button type="submit" class="btn btn-outline-secondary">Submit</button>
    <button type="reset" class="btn btn-outline-secondary">Reset</button>
    </br>
  </div>
</form>
{%endblock body%}