{%extends 'base.html'%}

{%block body%}

<h2>Kunden</h2>


<form method="post" , class="row g-2">
    {{ form.csrf_token() }}
    {{ form.KundenID() }}

    <div class="col-md-6">
        <label for="Vorname" class="form-label">Vorname</label>
        {{form.Vorname(class_="form-control")}}
    </div>

    <div class="col-md-6">
        <label for="Nachname" class="form-label">Nachname</label>
        {{form.Nachname(class_="form-control")}}
    </div>

    <div class="mb-3">
        <label for="Geburtstag" class="form-label">Geburtstag</label>
        {{form.Geburtstag(class_="form-control")}}
    </div>

    <div class="col-md-6">
        <label for="Wohnort" class="form-label">Wohnort</label>
        {{form.Wohnort(class_="form-control")}}
    </div>

    <div class="col-md-6">
        <label for="Fuehrerscheinklasse" class="form-label">Fuehrerscheinklasse</label>
        {{form.Fuehrerscheinklasse(class_="form-control")}}
    </div>

    <div class="d-grid gap-2 col-6 mx-auto">
        <br>
        <button type="submit" class="btn btn-outline-secondary">Submit</button>
        <button type="reset" class="btn btn-outline-secondary">Reset</button>
        </br>
    </div>
</form>

{%endblock body%}