{%extends 'base.html'%}

{%block body%}

<h2>Kunden</h2>

<form method="post">
  {{ form.csrf_token() }}
  <div class="mb-3">
    <label for="Vorname" class="form-label">Vorname</label>
    {{form.Vorname(class_="form-control")}}
  </div>

  <div class="mb-3">
    <label for="Nachname" class="form-label">Nachname</label>
    {{form.Nachname(class_="form-control")}}
  </div>

  <div class="mb-3">
    <label for="Geburtstag" class="form-label">Geburtstag</label>
    {{form.Geburtstag(class_="form-control")}}
  </div>

  <div class="mb-3">
    <label for="Wohnohrt" class="form-label">Wohnohrt</label>
    {{form.Wohnohrt(class_="form-control")}}
  </div>

  <div class="mb-3">
    <label for="Fuehrerscheinklasse" class="form-label">Fuehrerscheinklasse</label>
    {{form.Fuehrerscheinklasse(class_="form-control")}}
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

</form>

<table class="table">
  <thead class="table-dark">
    <tr>
      <td scope="col">#</td>
      <td scope="col">Vorname</td>
      <td scope="col">Nachname</td>
      <td scope="col">Geburtstag</td>
      <td scope="col">Wohnohrt</td>
      <td scope="col">Führerscheinklasse</td>
    </tr>
  </thead>
  <tbody>
    {%for kunde in kunden:%}
      <tr>
        <td scope="row">{{kunde.KundenID}}</td>
        <td>{{kunde.Vorname}}</td>
        <td>{{kunde.Nachname}}</td>
        <td>{{kunde.Geburtstag}}</td>
        <td>{{kunde.Wohnohrt}}</td>
        <td>{{kunde.Fuehrerscheinklasse}}</td>
      </tr>
    {%endfor%}

  </tbody>
</table>
{%endblock%}