{%extends 'base.html'%}

{%block body%}

<h2>Miete</h2>

<form method="post">
  {{ form.csrf_token() }}
  <div class="mb-3">
    <label for="Farbe" class="form-label">Farbe</label>
    {{form.Farbe(class_="form-control")}}
  </div>

  <div class="mb-3">
    <label for="kmStand" class="form-label">km Stand</label>
    {{form.kmStand(class_="form-control")}}
  </div>

  <div class="mb-3">
    <label for="Leistung" class="form-label">Leistung</label>
    {{form.Leistung(class_="form-control")}}
  </div>

  <div class="mb-3">
    <label for="Erstzulasung" class="form-label">Erstzulasung</label>
    {{form.Erstzulasung(class_="form-control")}}
  </div>

  <div class="mb-3">
    <label for="Kennzeichen" class="form-label">Kennzeichen</label>
    {{form.Kennzeichen(class_="form-control")}}
  </div>

  <div class="mb-3">
    <label for="Baujahr" class="form-label">Baujahr</label>
    {{form.Baujahr(class_="form-control")}}
  </div>

  <button type="submit" class="btn btn-primary">Save</button>

  </body>
</form>

<table class="table">
  <thead class="table-dark">
    <tr>
      <td scope="col">#</td>
      <td scope="col">Farbe</td>
      <td scope="col">km Stand</td>
      <td scope="col">Leistung</td>
      <td scope="col">Erstzulasung</td>
      <td scope="col">Kennzeichen</td>
      <td scope="col">Baujahr</td>
    </tr>
  </thead>
  <tbody>
    {%for mieten in mietwagen:%}
      <tr>
        <td scope="row">{{mieten.AutoID}}</td>
        <td>{{mieten.Farbe}}</td>
        <td>{{mieten.kmStand}}</td>
        <td>{{mieten.Leistung}}</td>
        <td>{{mieten.Erstzulasung}}</td>
        <td>{{mieten.Kennzeichen}}</td>
        <td>{{mieten.Baujahr}}</td>
      </tr>
    </form>
    {%endfor%}

  </tbody>
</table>
</html>
{%endblock%}